*{
    margin: 0;
    padding: 0;
    /* flex-wrap: wrap; */
    
}
body{
    overflow-x: hidden;
}



.header{
    background-color: hsl(45, 97%, 77%);   
     height: 15vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

#logoid{
height: 10vh;
width: 10vw;
/* background-color: black; */


}
#logoid{
    margin-left: 2vw;
    margin-top: 1vh;
}

/* .elements{
display: flex;
margin-left: 18vw;

} */

.elements{
    margin-left: 15vw;
    display: flex;
    width: 30vw;
    justify-content: space-between;
    margin-right: 13vw;
    font-family:  sans-serif;
    font-weight:400;
    
}

.text{
margin-left: 3vw;

}

.request{
    margin-left: 18vw;
}

.text{
    text-decoration: none;
    color: hsl(0, 2%, 59%);
    padding-bottom: 4.3vh;
    font-weight: 1000;
}
.text:hover{
    border-bottom: 3px solid green;
}

.invite{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 19px;
    
}

.request{
    /* margin-left: 19vw; */
    border: 0px solid black;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh; 
    border-radius: 18px;
    color: white;
    /* background-color: hsl(136,65%,51%); */
    background-image: linear-gradient(to right ,hsl(36, 57%, 49%) , hsl(267, 23%, 51%));
}

.hackathon{
   background-image: url(Y9I5CR5LEwirIMu0HiAsmkyoXJFOuuX4e7hjtX5m.jpeg);
    opacity: 0.85;
   height: 90vh;
   opacity: 0.7;
   width: 100vw;
   background-color: aquamarine;
   background-size: cover;
   display: flex;
   
}
.intro1,.intro2{
   background-color:aliceblue;
   flex-wrap: wrap;
   width: 40vw;
   background-color: transparent;
    /* text-align: center; */
    /* align-content: center; */
}
.intro1{
    margin-left: 5vw;
}
.intro2{
    background-color:transparent;
    margin-left:10vw;
    text-align: center; 
    align-content: center;
}
.heading{
    padding-top: 7vh;
    font-size: 80px;
    color: rgb(230, 138, 27);
    margin-left: 3vw;
}
.datevenue{
    padding-top: 10px;
    margin-left: 3vw;
    font-size: larger;
    color: rgb(0, 0, 0);

}
.ieeemsb{
    margin-left: 3vw;
    font-size:13vw ;
    color: rgb(147, 29, 232);
}
.brief{
    margin-bottom: 5px;
    font-size:medium;
    margin-left: 3vw;
    color: white;
    color: rgb(5, 86, 15);
}
.about1,.about2,.about3{
    display: flex;
}
#About{
    background-color: rgba(254, 225, 158, 0.4);
    
}



.heading2{
    font-size: 60px;
}

.about0{
    display: flex;
    justify-content: center;
}

.about1{
    justify-content:space-evenly;
}
.about2{   
    justify-content:space-evenly;
    padding-top: 20PX;
    padding-bottom: 20px;
}
.about3{
    
    justify-content:space-evenly;
}
.aboutimg{
    height: 200px; 
    width:200px;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
   
}
.features{
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 3px solid rgb(132, 233, 189);
    background-color: rgb(249, 245, 211);
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    align-items: center;
    padding: 20px;
}
.details{

    color:black;
}
.featurehead{
    padding-top: 5px;
}
.footer{
background-color: rgb(13, 7, 68);
}
.registration{
    padding: 10px;
    
    color: black;
    /* background-color: aqua; */
    border-radius: 50px;
    border: 5px solid rgb(0, 0, 0);
    font-size: xx-large;
}
.register{
    text-decoration: none;
    color: #000000;
}

.registration:hover{
    background-color: #fcc93d;
    border: 5px solid black;
    background-image: linear-gradient(to right ,hsl(36, 100%, 50%) , hsl(267, 23%, 51%))    
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;
}
.footerimg{
    height: 20vh;
    width: 20vw;
}
.footer1{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social,.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}
.social{
    width: 100vw;
}
#socialicon{
    padding-left: 12px;
}



.footericon{
    padding-left: 15px;
}
.copyright{
    color: white;
    padding-bottom: 50px;
}

#questions{
    display: flex;
    flex-direction: column;
   align-items: center;
   padding-top: 30px;
   padding-bottom: 30px;
}

#timeline{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
}

.stage1,.stage2,.stage3{
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  

}
.tlineimg{
  height: 150px;
  width: 150px;

}

.STAGES{
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    align-items: center;
}

.thead{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
}

.stage{
    margin-left: 30px;
    margin-bottom: 20px;
}
.blink {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
    color: #ff0000; /* Red color for visibility */
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.guidelines{
    background-color: #fbd66f;
    border-radius: 30px;
    color: black;
    font-size: 1.2vw;
    padding: 5px;
    text-decoration: none;
    border: 1px solid black;
}
.guidelines:hover{
    background-color: #ffbb00;
    border: 3px solid black;
    font-weight: 500;
}
.tlinebrief{
    margin-bottom: 10px;
}
#questions{
    font-size: larger;
}
.que1,.que2,.que3,.que4{
    width: 50vw;
    text-wrap: wrap;
    background-color: rgb(249, 227, 127);
    padding:10px ;
    margin: 15px;
    margin-bottom: 30px;
    border-radius: 15px;
    height:auto
    
}
.registration{
    margin-bottom: 40px;
    background-color: #fbb63f;
}

@media only screen and (max-width: 650px){
    .header{
        display: flex;
        justify-content: center;
    }
    #logoid{
        width: 40vw;        
    }
    .elements{
        display: none;
    }
    .request{
        display: none;
    }
    .hackathon{
        flex-direction: column-reverse;
        /* margin-top: 25vw; */
    }
    .ieeemsb{
        /* font-size: x-small; */
        font-size: 100px;
    }
    .heading{
        font-size:13vw ;
    }
    .hackathon{
        background-image: url(back.jpg);
        background-color: white;
    }
    .intro1,.intro2{
        margin-left: 5vw;
        margin-top: 0px;
        /* margin-top: 10px; */
    }
    .about1,.about2,.about3{
        flex-direction: column;
    }
    .footerimg{
        width:50vw
    }
    .tlineimg{
        margin-left: 10px;
    }
    .guidelines{
        font-size: medium;
    }
    .brief{
        width: 80vw;
    }
    .datevenue{
        width: 80vw;
    }
    .datevenue{
        padding-bottom: 10px;
    }


}